/*imports */
/*variaveis globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.clear {
  clear: both; }

.container {
  padding: 0 2%; }

.w50 {
  width: 50%;
  display: inline-block; }

.w100 {
  width: 100%; }

.right {
  float: right; }

.left {
  float: left; }

/**Header* */
.slide-head {
  width: 100%;
  height: 90vh; }

.slide-head-single {
  width: 100%;
  height: 90vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; }

.menu {
  position: absolute;
  z-index: 2;
  width: 100%; }

.menu img {
  width: 400px;
  top: 20px;
  left: 20px;
  display: inline-block;
  position: absolute; }

.menu p {
  font-size: 70px;
  color: #47525E;
  margin-top: 40px;
  opacity: 0.8; }

.socials {
  width: 100%;
  height: 10vh;
  background-color: rgba(90, 105, 120, 0.7);
  text-align: center;
  position: relative; }

.wraper-social {
  width: 100%;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute; }

.img-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  right: 60px;
  z-index: 2;
  cursor: pointer;
  display: none; }

.socials img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 60px; }
  .socials img:hover {
    width: 60px;
    height: 60px;
    animation-duration: 1s; }

nav.menu-desktop {
  float: right !important;
  display: inline-block !important; }

nav.menu-desktop ul {
  margin-top: 30px !important;
  margin-right: 30px !important; }

nav.menu-desktop ul li {
  float: left !important; }

nav.menu-desktop ul a {
  font-size: 28px;
  color: #fff; }
  nav.menu-desktop ul a:hover {
    color: #5A6978 !important;
    background-color: #ddd; }
  nav.menu-desktop ul a:active {
    background-color: #ddd; }

nav.menu-mobile {
  position: absolute !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
  top: 100px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 80%;
  border-radius: 8px;
  display: none; }

nav.menu-mobile ul li {
  list-style: none;
  text-align: center;
  font-size: 25px;
  padding: 3px;
  cursor: pointer; }

nav.menu-mobile ul a {
  text-decoration: none !important; }

/*slide slick */
header .slick-dotted ul {
  list-style-type: none;
  text-align: center;
  position: relative;
  top: -50px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: inline-block; }

.slick-dotted ul {
  list-style-type: none;
  text-align: center;
  position: relative;
  top: 20px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: inline-block; }

.slick-dotted li {
  display: inline-block;
  margin: 0 7px; }

.slick-dotted button:focus {
  outline: none; }

.slick-dotted li button {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  color: #222;
  border-width: 0;
  opacity: 1;
  cursor: pointer;
  background-color: #222;
  margin-bottom: 20px; }

li.slick-active button {
  background-color: #5A6978;
  color: #5A6978; }

.slick-slide:focus {
  outline: none; }

/**servicos* */
section.servicos {
  width: 100%;
  min-height: 400px;
  background-color: #ddd;
  padding: 80px 0; }

.servicos-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto; }

.servicos-single {
  width: 33.3%;
  padding: 30px;
  text-align: center; }

.servicos-single img {
  width: 50px;
  height: 50px; }

.servicos-single h2 {
  color: #FF5722;
  font-size: 26px;
  font-style: italic; }

.servicos-single p {
  text-align: justify;
  margin-top: 20px;
  font-size: 18px;
  color: #47525E; }

.servicos-single ul {
  margin-top: 20px; }

.servicos-single ul li {
  font-size: 18px;
  color: #47525E;
  text-align: left;
  margin-left: 30px; }

/**comentarios* */
section.comentarios {
  padding: 30px 2%;
  background-color: #B2EBF2; }

.comentarios-wraper {
  display: inline-block;
  width: 100%; }

.comentarios-single {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center; }

section.comentarios img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block; }

section.comentarios p {
  display: inline-block;
  padding-left: 20px;
  width: calc(100%-100px);
  font-size: 18px;
  color: #47525E; }

/**templates* */
section.templates {
  padding: 30px 2%;
  background-color: rgba(90, 105, 120, 0.7); }

.wraper-templates {
  width: 100%;
  text-align: center; }
  .wraper-templates h2 {
    font-size: 26px;
    color: #fff; }

.templates-single {
  width: 100%;
  display: flex; }

.cont-template {
  width: 25%;
  margin-top: 30px;
  font-size: 18px;
  color: #fff; }

.img-template {
  width: 100%;
  height: auto;
  position: relative;
  padding: 10px;
  cursor: pointer; }

.img-template img {
  width: 100%; }
  .img-template img:hover {
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -moz-box-shadow: 4px 4px #B2EBF2;
    -webkit-box-shadow: 4px 4px #B2EBF2;
    -o-box-shadow: 4px 4px #B2EBF2;
    -ms-box-shadow: 4px 4px #B2EBF2;
    box-shadow: 4px 4px #B2EBF2; }

/**contato* */
section.contato {
  background-color: #ddd;
  padding: 30px;
  text-align: center; }

.wraper-contato h2 {
  color: #FF5722;
  font-size: 26px;
  font-style: italic; }

.wraper-contato p {
  display: inline-block;
  max-width: 500px;
  margin: 10px 0;
  font-size: 18px;
  color: #47525E; }

.wraper-contato form {
  max-width: 800px;
  margin: 0 auto; }
  .wraper-contato form input {
    margin-top: 20px !important;
    height: 50px !important;
    font-size: 18px; }
    .wraper-contato form input:focus {
      border: 1px solid #B2EBF2; }
  .wraper-contato form textarea {
    margin-top: 20px !important;
    font-size: 18px; }
    .wraper-contato form textarea:focus {
      border: 1px solid #B2EBF2; }
  .wraper-contato form button {
    width: 200px;
    height: 50px;
    margin-top: 20px !important;
    font-size: 18px; }
    .wraper-contato form button:hover {
      transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      -webkit-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      -moz-box-shadow: 4px 4px #B2EBF2;
      -webkit-box-shadow: 4px 4px #B2EBF2;
      -o-box-shadow: 4px 4px #B2EBF2;
      -ms-box-shadow: 4px 4px #B2EBF2;
      box-shadow: 4px 4px #B2EBF2; }

/**sobre* */
section.sobre {
  background-color: rgba(90, 105, 120, 0.7);
  padding: 30px; }
  section.sobre .wraper-sobre {
    display: flex;
    align-items: center; }
  section.sobre .sobre-infor {
    width: 60%;
    padding: 20px;
    text-align: center; }
    section.sobre .sobre-infor h2 {
      font-size: 26px;
      color: #fff; }
    section.sobre .sobre-infor p {
      font-size: 18px;
      color: #fff;
      text-align: justify;
      margin-top: 20px;
      max-width: 600px;
      display: inline-block; }
  section.sobre .sobre-img {
    width: 40%;
    padding: 20px; }
    section.sobre .sobre-img .img {
      width: 80%;
      height: 300px;
      background-color: #222; }
      section.sobre .sobre-img .img img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover; }

/**rodape* */
footer {
  background-color: #343F4B;
  padding: 20px;
  text-align: center; }
  footer p {
    font-size: 20px;
    color: #fff; }

/**media queryes* */
@media only screen and (max-width: 1200px) {
  nav.menu-desktop {
    display: none !important; }

  .img-menu {
    display: inline-block; }

  .servicos-wrapper {
    flex-direction: column; }

  .servicos-single {
    width: 100%; }

  .templates-single {
    flex-direction: column; }

  .cont-template {
    width: 80%;
    margin: 30px auto;
    font-size: 18px;
    color: #fff; }

  .wraper-sobre {
    flex-direction: column; }

  .sobre-infor {
    width: 80% !important; }

  .sobre-img {
    display: none !important; } }
@media only screen and (max-width: 768px) {
  .menu img {
    width: 250px; }

  .img-menu {
    top: 20px; }

  .left {
    float: none; }

  .right {
    float: none; } }

/*# sourceMappingURL=style.css.map */
