@import colors
@import mixins
@import media-queries

*
	margin: 0
	padding: 0
	box-sizing: border-box

.clear
	clear: both

.container
	padding: 0 2%

.slide-head
	width: 100%
	height: 90vh

.slide-head-single
	width: 100%
	height: 90vh
	background-size: 100% 100%
	background-repeat: no-repeat
	background-position: center

.menu
	position: absolute
	z-index: 2
	width: 100%
	

.menu img
	width: 400px
	top: 20px
	left: 20px
	display: inline-block
	position: absolute

.menu p
	+text-escuro(70px)
	margin-top: 40px
	opacity: 0.8

.socials
	width: 100%
	height: 10vh
	background-color: $alternative_color_rgba
	text-align: center
	position: relative

.wraper-social
	width: 100%
	top: 50%
	+transform-translate(0,-50%)
	position: absolute

.img-menu
	width: 50px
	height: 50px
	position: absolute
	top: 40px
	right: 60px
	z-index: 2
	cursor: pointer
	display: none

.socials img
	width: 50px
	height: 50px
	cursor: pointer
	margin-left: 60px
	
	&:hover
		width: 60px
		height: 60px
		animation-duration: 1s

nav.menu-desktop
	float: right !important
	display: inline-block !important

nav.menu-desktop ul
	margin-top: 30px !important
	margin-right: 30px !important

nav.menu-desktop ul li
	float: left !important

nav.menu-desktop ul a
	+text-claro(28px)

	&:hover
		color: $alternative_color !important

nav.menu-mobile
	position: absolute !important
	background-color: $white_rgba !important
	top: 100px
	left: 50%
	+transform-translate(-50%,0)
	width: 80%
	border-radius: 8px
	display: none

nav.menu-mobile ul li
	list-style: none
	text-align: center
	font-size: 25px
	padding: 3px
	cursor: pointer

	a
		text-decoration: none

	&:hover
		background-color: $alternative_color
		color: $white

.slick-dotted ul
	list-style-type: none
	text-align: center
	position: relative
	top: -50px
	left: 50%
	+transform-translate(-50%,0)
	display: inline-block

.slick-dotted li
	display: inline-block
	margin: 0 7px

.slick-dotted button:focus
	outline: none

.slick-dotted li button
	width: 16px
	height: 16px
	border-radius: 8px
	color: $black
	border-width: 0
	opacity: 1
	cursor: pointer
	background-color: $black
	margin-bottom: 20px

li.slick-active button
	background-color: $alternative_color
	color: $alternative_color

.slick-slide:focus
	outline: none



section.servicos
	width: 100%
	min-height: 80vh
	background-color: $grey

@include tela_media
	nav.menu-desktop
		display: none !important

	.img-menu
		display: inline-block

@include phone
	.menu img
		width: 250px

	.img-menu
		top: 20px